.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.GettingItButton {
  margin-left: 100px;
  color:green;
  font-size: 20px;
  font-weight: bold;
}
.GettingItNumber {
  margin-left: 240px;
  margin-bottom: 50px;
}
.SortOfButton {
  margin-left: 100px;
  color: orange;
  font-size: 20px;
  font-weight: bold;
}
.SortOfNumber {
  margin-left: 240px;
  margin-bottom: 50px;
}
.LostButton {
  margin-left: 100px;
  color: red;
  font-size: 20px;
  font-weight: bold;
}
.LostNumber {
  margin-left: 240px;
  margin-bottom: 50px;
}
.ClassRoomEmotion {
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 180px;
  color:red
}
.ClickTheButton {
  margin-left: 80px;
  margin-bottom: 80px;
}
.RegisterTextBoxVeryLost {
  width: 100%;
  padding: 12px 10px;
  margin: 8px 0;
  box-sizing: border-box;
}
.RegisterTextBoxSortOf {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
.RegisterTextBoxGettingIt {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

/* .RegisterHereVeryLostText {
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 180px;
  color:black
} */
h2 {
  
  padding: 20px;
  
}

.voteContainerLost {
  border-style: solid;
  box-sizing: content-box;  
  width: 450px;
  height: 200px;
  padding: 30px; 
  border-color: red;
  margin-left: 100px;
  margin-bottom: 30px;
}

.voteContainerSortOf {
  border-style: solid;
  box-sizing: content-box;  
  width: 450px;
  height: 200px;
  padding: 30px; 
  border-color: orange;
  margin-left: 100px;
  margin-bottom: 30px;
}

.voteContainerGettingIt {
  border-style: solid;
  box-sizing: content-box;  
  width: 450px;
  height: 200px;
  padding: 30px; 
  border-color: green;
  margin-left: 100px;
  margin-bottom: 30px;
}